#navbar {
    /* red-orange color to contrast with the map */
    background-color: #DABFFF;
    /* nice blue #7AC5CD; */
}

#fluffFinderHeader {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Unbounded', cursive;
}

#singaporeMap {
    height: 500px;
}

.space {
    margin: 5px;
}

.hoverable:hover{
    border-radius: 16px;
    background-color: #99EDC3
}

/* style the search results list, list-style-type: square looks quite nice
* list-style-type: none removes the bullet point. padding:0 is required to also remove the bullet indentation.
*/

#searchResultsList {
    height: 300px;
    overflow-y:scroll;
    outline: thick ridge #ED33B9;
    list-style-type: none;
    padding: 0;
}

/* search results list elements styling */
#searchResultsList li{
    margin: 5px;
}

/* nth child is amazing! can style every odd/even child of all LI elements, can even apply numbers. */ 
#searchResultsList li:nth-child(even){
    background-color:#00b2ca;
}

#searchResultsList li:nth-child(odd){
    background-color:#7dcfb6;
}

/* need to put after the other background colors, due to specificity rules (if it was before, wouldn't take effect) */
#searchResultsList li:hover{
    background-color: #fbd1a2;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track: long bar  that holds the handle */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle: the actual scroll thing itself */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #closeButton{
    border: 5px solid black;
    border-radius: 10px;
  }

  #offCanvasContainer{
    border: 4px solid black;
    border-radius: 10px;
  }

  #offCanvasHeader{
    background-color:#DEDEDE;
  }