#navbar {
    /* red-orange color to contrast with the map */
    background-color: #DABFFF;
    /* nice blue #7AC5CD; */
}

#fluffFinderHeader {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Unbounded', cursive;
}

#singaporeMap {
    height: 500px;
}

.space {
    margin: 5px;
}

.hoverable:hover{
    border-radius: 16px;
    background-color: #99EDC3
}

/* style the search results list */
#searchResultsList {
    height: 300px;
    overflow-y:scroll;
    outline: thick ridge #ED33B9;
    list-style-type: square;
}

#searchResultsList li:hover{
    background-color:skyblue;
}

/* search results list elements styling */
#searchResultsList li{
    margin: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track: long bar  that holds the handle */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle: the actual scroll thing itself */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #closeButton{
    border: 5px solid black;
    border-radius: 10px;
  }