#navbar {
    /* red-orange color to contrast with the map */
    background-color: #DABFFF;
    /* nice blue #7AC5CD; */
}

#fluffFinderHeader {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Unbounded', cursive;
}

#singaporeMap {
    height: 500px;
}

.space {
    margin: 5px;
}

.hoverable:hover{
    border-radius: 16px;
    background-color: #99EDC3
}

#searchResultsList li:hover{
    background-color:skyblue;
}

#searchResultsList {
    height: 100px;
    overflow-y:scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }